.card {
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 10%;
  height: 15px;
  /* 👈 reduce height here */
  object-fit: cover;
  /* 👈 keeps image nicely cropped */
  border-radius: 10px 10px 0 0;
}

body {
  background-color: #f5f5f5;
}